bin/
build/
.idea/
package-lock.json
package.json
.gradle/
test-output/
Screenshots/
*.iws
*.ipr
*.iml
*.html
node_modules/
.babelrc
*.log
temp/
allure-report/
result/
result/
testResult/
conf.js
package.json
allure-results/
downloads/
allure-report/